<div class="tabs tabs-icon-top tabs-top">
  <a class="tab-item" href="#/default/home">
    <i class="icon ion-home"></i>Home
  </a> 
  <a class="tab-item" href="#/">
    <i class="icon ion-waterdrop"></i>Notificaciones
  </a>
  <a class="tab-item" href="#/default/my-publications/offers">
    <i class="icon ion-compose"></i>Publicaciones
  </a> 
  <a class="tab-item" href="#/">
    <i class="icon ion-gear-b"></i>Mi Cuenta
  </a>
  <a class="tab-item" href="#/" ng-click="logout()">
    <i class="icon  ion-log-out button-dark"></i>Logout
  </a>
</div>