<ion-view title="Home">

<div class="bar bar-header bar-dark">
	<h1 class="title">Home</h1>
</div>

<ion-content  class="center">

<h4 >Bienvenido {{name}}</h4>

<h5 align="center">¿Que quieres hacer?</h5>

<div class="list">

	<div class="item item-input-inset" style="border: 0px">
		<label class="item-input-wrapper">
			<i class="icon ion-search placeholder-icon"></i>
			<input type="text" placeholder="Buscar">
		</label>
		<button class="button button-small">
			Filtros
		</button>
	</div>

	
	<div align="center" style="margin-top:5px;">

		<button class="button ">
			Buscar
		</button>
		<a class="button button-dark" href="#/tab/offer">
			Ofrecer
		</a>

	</div>

</div>


</ion-content>

</ion-view>




  
    

