<ion-view title="Home">

<div class="bar bar-header bar-dark">
	<h1 class="title">Home</h1>
</div>

 <ion-content
         has-bouncing="false"
         start-y="55"
         padding="true"
         has-tabs="true"
         has-header="true"
         >

<h4 >Bienvenido {{name}}</h4>

<h5 align="center">¿Que quieres hacer?</h5>

<div class="list">
	<form>

		<div class="item item-input-inset" style="border: 0px">
			<label class="item-input-wrapper">
				<i class="icon ion-search placeholder-icon"></i>
				<input type="text" placeholder="Buscar" ng-model="search_word">
			</label>
			<button class="button button-small">
				Filtros
			</button>
		</div>
	</form>

	<div align="center" style="margin-top:5px;">


		<a class="button" ng-click="search()">
			Buscar
		</a>

		<a class="button button-dark" href="#/new/offer/type">
			Ofrecer
		</a>

	</div>

</div>


</ion-content>
</ion-view>




  
    

