<ion-view title="Home">

<div class="bar bar-header bar-positive">
	<h1 class="title">Home</h1>
</div>

 <ion-content>

<h4 >Bienvenido {{name}} !</h4>

<h5 align="center">¿Que quieres hacer?</h5>

<div class="list">
	<form>

		<div class="item item-input-inset" style="border: 0px">
			<label class="item-input-wrapper">
				<i class="icon ion-search placeholder-icon"></i>
				<input type="text" placeholder="Buscar" ng-model="search_word">
			</label>
			<button class="button button-small">
				Filtros
			</button>
		</div>
	</form>

	<div class="button-bar">
		<a class="button button-positive icon-left ion-ios7-search" ng-click="search()">
			Buscar
		</a>

		<a class="button button-energized icon-left ion-waterdrop" href="#/new/offer/type">
			Ofrecer
		</a>
	</div>

</div>


</ion-content>
</ion-view>




  
    

