<ion-view title="Ubicación">

<div class="bar bar-header bar-positive">
	<a class="button button-clear" href="#/default/home">
		<img src="../img/goter3.png" class="home-logo">
	</a>
	<h1 class="title">Ubicación</h1>
	<button class="button button-clear icon ion-log-out" ng-click="logout()"></button>
</div>

<ion-content>



<div id="map" data-tap-disabled="true" ></div>




</ion-content>
<!-- <ion-footer-bar class="bar-dark">
<a ng-click="centerOnMe()" class="button button-icon icon ion-navigate">Find Me</a>
</ion-footer-bar> -->
</ion-view>
