<ion-view title="Mis Ofertas">
	<div class="bar bar-header bar-positive">
		<a class="button button-clear" href="#/default/home">
			<img src="../img/goter3.png" class="home-logo">
		</a>
		<h1 class="title">Mis Publicaciones <i class="icon ion-arrow-right-c"></i> Ofertas</h1>
		<button class="button button-clear icon ion-log-out" ng-click="logout()"></button>
	</div>
	<ion-content>
		<div class="button-bar">
			<a class="button activated" href="#/default/my-publications/offers">Ofertas</a>
			<a class="button" href="#/default/my-publications/searchs">Busquedas</a>
		</div>
		<ion-list>	
			<ion-item class="item-avatar" ng-repeat="offer in offers" hrerf = "" ng-click="getOffer({{offer}})">
				<img  src="img/no-mini-image.jpg">
				
					<h2 style="float:left;margin-top:10px;" >{{ offer.title }} </h2>
					<div style="float:right; margin-top:5px; width:144; height:29px;">
						<i id="icon-like" class="icon icon-possitive ion-heart"></i>
						{{offer.likes}}
					</div>				
          		<ion-option-button class="button-dark" ng-click="edit({{offer}})">
            		Editar
          		</ion-option-button>
          		<ion-option-button class="button-assertive" ng-click="delete({{offer}})">
            		Eliminar
          		</ion-option-button>
			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>