<ion-view title="Mis Busquedas">

	<div class="bar bar-header bar-dark">
		<h1 class="title">Mis Publicaciones > Busquedas</h1>
	</div>

	<ion-content>

	<div class="button-bar">
		<a class="button" href="#/default/my-publications/offers">Ofertas</a>
		<a class="button" href="#/default/my-publications/searchs">Busquedas</a>
	</div>
	<br>

	<div class="list">		
		<a class="item item-avatar" ng-repeat="search in searchs" hrerf = "#">
			<img align="left" style="display:inline;"  src="{{ search.image }}"><img/>
			<h2 align="center" style="display:inline;">{{ search.search_name }} </h2>
			<h2 align="right" style="display:inline;">{{ search.valoration }} </h2>
		</a>

	</div>

	</ion-content>

</ion-view>
