<ion-view >

<div class="bar bar-header bar-psotive">
	<h1 class="title">Ingresa la ubicación</h1>
	<button class="button button-clear icon ion-log-out" ng-click="logout()"></button>
</div>
	<ion-content>
		<div class="row" align="center">
			<div class="col">
				<input id="pac-input" class="controls" type="text" placeholder="Busca un lugar o elige tu posición actual">
				<div id="map-2" data-tap-disabled="true"></div>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<label class="item item-input">
					<i class="icon ion-search placeholder-icon"></i>

					<input type="text" placeholder="Localización" ng-model="pin_search.locationInput" disabled> {{pin_search.location.lat}} {{pin_search.location.lng}}</input>

				</label>
			</div>
		</div>

		
		<!--<button class="button button-stable" ng-click="searchPosition()">Seleccionar</button>-->
				

		<div class="div-padding">
			<button class="button button-block button-dark icon-left ion-location" ng-click="centerOnMe()">Usar mi posición actual</button>
		</div>

		<div class="div-padding">
			<button class="button button-block button-energized icon-left ion-chevron-left" ng-click="ready()">Aceptar</button>
		</div>
	</ion-content>
</ion-view>


