<ion-view>

<div class="bar bar-header bar-positive">
	<a class="button button-clear" href="#/default/home">
		<img src="img/goter3.png" class="home-logo">
	</a>
	<h1 class="title">Ofrecer</h1>
	<button class="button button-clear icon ion-log-out" ng-click="logout()"></button>
</div>
	<ion-content>
		<div class="button-bar">
		<a class="button" href="#/new/offer/type" ng-click="saveForm(offer)">Oferta</a>
		<a class="button" href="#/new/offer/description" ng-click="saveForm(offer)">Descripción</a>
		<a class="button button-positive" href="#/new/offer/location">Ubicación</a>
		</div>
		<br>
		<h3 align="center">¿Donde quieres ubicar tu oferta?</h3>

		
		<div class="row" align="center">
			<div class="col">
				<input id="pac-input" class="controls" type="text" placeholder="Busca un lugar o elige tu posición actual">
				<div id="map-2" data-tap-disabled="true"></div>
			</div>
		</div>
		
		<div class="div-padding">
			<button class="button button-block button-dark icon-left ion-location" ng-click="centerOnMe()">Usar mi posición actual</button>
		</div>

		<div class="button-bar">
			<a class="button icon-left ion-chevron-left" href="#/new/offer/description" ng-click="saveForm(offer)">Volver</a>
			<a class="button icon-left ion-close" href="#/default/home">Cancelar</a>
			<a class="button button-energized icon-right ion-chevron-right" href="#/new/offer/location" ng-click="publishOffer()">Publicar!</a>
		</div>


	</ion-content>
</ion-view>