<ion-view title="Oferta">
	<div class="bar bar-header bar-dark">
		<h1 class="title">Comentarios</h1>
	</div>
	<ion-content>
		<div class="list">
			<div class="row item item-avatar" ng-repeat="comment in offer.comments">
				<img  src="img/no-mini-image.jpg"></img>
				<div class="col">
					<h2 style="margin-left:70px;" ><strong>{{ comment.user_name }}:</strong> </h2>
					<p style="margin-left:80px;">{{comment.text}}</p>
					<!-- <a style="margin-left:70px;" href="">Responder</a><a style="margin-left:20px;" href="">Respuestas</a>
					<label class="item item-input">
						<textarea id="{{comment._id}}" ng-model="response" placeholder="Escribe tu respuesta" rows="3" ></textarea>
					</label>
					<a class="button" ng-click="saveResponse('{{comment._id}}','{{comment.slug}}', '{{comment.full_slug}}')" >Responder</a> -->
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<label class="item item-input">
					<textarea placeholder="Escribe tu comentario" rows="3" ng-model="newcomment"></textarea>
				</label>
			</div>
		</div>
		<div class="row" align="center">
			<div class="button-bar">
				<a class="button" href="#/default/offer" >Volver</a>
				<a class="button" ng-click="saveComment()" >Comentar</a>
			</div>
		</div>
		
	</ion-content>
</ion-view>