<ion-view>
	<ion-content>
	<div class="button-bar">
		<a class="button" href="#/offer/new/type">Oferta</a>
		<a class="button" href="#/offer/new/description">Descripción</a>
		<a class="button" href="#/offer/new/location">Ubicación</a>
	</div>
	<br>
	<h3>¿Qué quieres ofrecer?</h3>
		<div class="row">
			<div class="col">
				<div class="list">
					<label class="item item-radio">
						<input type="radio" name="group">
						<div class="item-content">Producto</div>
						<i class="radio-icon ion-checkmark"></i>
					</label>
					<label class="item item-radio">
				    <input type="radio" name="group">
				    <div class="item-content">Evento</div>
				    <i class="radio-icon ion-checkmark"></i>
				  </label>
				  <label class="item item-radio">
				    <input type="radio" name="group">
				    <div class="item-content">
				      Servicio
				    </div>
				    <i class="radio-icon ion-checkmark"></i>
				  </label>
				  <label class="item item-radio">
				    <input type="radio" name="group">
				    <div class="item-content">Dato</div>
				    <i class="radio-icon ion-checkmark"></i>
				  </label>
				</div>
			</div>
			<div class="col">foto aqui?</div>
		</div>
	</ion-content>
</ion-view>