<ion-view title="Oferta">

<div class="bar bar-header bar-dark">
	<h1 class="title">Oferta</h1>
</div>

 <ion-content
         on-scroll = "true"
         >

<hr style="border:dashed 1px; border-color:gray;">

<div class="row" align="center">
	<div class="col">
		<img  style="float:left" src="{{ user.image }}">Avatar de Juan<img/>
	</div>

 	<div class="col">
 		<p>Juanito</p>
		<p>Reputeichon</p>
 	</div>

  	<div class="col">
  		Valoración de la oferta
  	</div>
</div>

<hr style="border:dashed 1px; border-color:gray;margin:30px;">

<div class="row" align="center">
	<div class="col">
		<h2>Partido en Gabriela</h2>
		<img src="img/baby-image.jpg" style="width:100%; height:100%"><img/>
		<div class="card">
			<div class="item item-text-wrap">
				<h3>Vamo a ser el tiible partio cn los cauroh de la pobla aki en le gabrielle at 3 o'clock, la pulenta si queri venir aca tamo, no te vao a coogotiar ti juajajkaja</h3>
			</div>
		</div>
	</div>
</div>


<div class="row" align="center">
 	<div class="button-bar">
 		<a class="button">Comentarios</a>
 		<a class="button">Ubicación</a>
	</div>
</div>

</ion-content>

</ion-view>