<ion-view title="Oferta">

<div class="bar bar-header bar-positive">
	<h1 class="title">Oferta</h1>
  <button class="button button-clear icon ion-log-out" ng-click="logout()"></button>
</div>

<ion-content>

<div class="list card">
  	<div class="item item-avatar">
    	<img src="img/default.png">
    	<h2> {{offer.user}} </h2>
		<progress  max="100" value="50"/>
	</div>
	
	<div class="item item-divider" align="center">
    	<h1>{{offer.title}}</h1>
	</div>

	<div class="item item-body">
    	<img class="full-image" src="img/no-image.png">
    	<p>
    		{{offer.description}}
    	</p>
    </div>

     <div class="item tabs tabs-secondary tabs-icon-left">
     	<a ng-click= "likeFunction()" class="tab-item button button-clear button-{{offer.likeStyle}}">
      		<i class="icon ion-heart"></i>
      		{{offer.likes}}
    	</a>
    	
    	<a class="tab-item" href="#/default/offer-comments">
      		<i class="icon ion-chatboxes"></i>
      		Comentarios
    	</a>
    	
    	<a class="tab-item" ng-click="getLocation({{offer}})">
      		<i class="icon ion-location"></i>
      		Ubicación
    	</a>
     </div>
</div>

</ion-content>

</ion-view>

