<ion-view>

<div class="bar bar-header bar-dark">
	<h1 class="title">Ofrecer</h1>
</div>
	
 <ion-content>
	<div class="button-bar">
		<a class="button" href="#/new/offer/type" ng-click="saveForm(offer)">Oferta</a>
		<a class="button activated" href="#/new/offer/description">Descripción</a>
		<a class="button" href="#/new/offer/location" ng-click="saveForm(offer)">Ubicación</a>
	</div>
	<br>
	<h3>¿De qué trata tu oferta?</h3>
		<div class="list">
			<label class="item item-input item-floating-label">
				<span class="input-label">Título</span>
				<input type="text" placeholder="Título" ng-model="offer.title"/>
			</label>
			<label class="item item-input item-floating-label">
				<span class="input-label">Descripción</span>
				<textarea placeholder="Descripción" rows="3" ng-model="offer.description"></textarea>
			</label>
			<label class="item item-input item-floating-label">
				<span class="input-label">Etiquetas</span>
				<input type="text" placeholder="Etiquetas" ng-model="offer.tags"/>
			</label>
			<div class="row">
				<div class="col">
				<button class="button button-stable">Agregar Imagen</button>
				</div>
				<div class="col">
				<img src="">
				</div>
			</div>
			<label class="item item-input item-floating-label item-select">
				<span class="input-label">Duración</span>
				<input type="text" placeholder="Duración" ng-model="offer.length"/>
				<select>
					<option>Días</option>
					<option selected>Horas</option>
			    </select>
			</label>
		</div>
		<div class="row">
			<div class="col"><a class="button " href="#/new/offer/location" ng-click="saveForm(offer)">Siguiente</a></div>
		</div>
	</ion-content>
</ion-view>