<ion-view>
	
<div class="bar bar-header bar-dark">
	<h1 class="title">Ofrecer</h1>
</div>

	<ion-content>

	<div class="button-bar">
		<a class="button activated" href="#/new/offer/type">Oferta</a>
		<a class="button" href="#/new/offer/description" ng-click="saveForm(offer)">Descripción</a>
		<a class="button" href="#/new/offer/location" ng-click="saveForm(offer)">Ubicación</a>
	</div>
	<br>
	<h3>¿Qué quieres ofrecer?</h3>
		<div class="row">
			<div class="col">
				<div class="list">
					<label class="item item-radio">
						<input type="radio" name="group" value="product" ng-model="offer.type">
						<div class="item-content">Producto</div>
						<i class="radio-icon ion-checkmark"></i>
					</label>
					<label class="item item-radio">
				    <input type="radio" name="group" value="event" ng-model="offer.type">
				    <div class="item-content">Evento</div>
				    <i class="radio-icon ion-checkmark"></i>
				  </label>
				  <label class="item item-radio">
				    <input type="radio" name="group" value="service" ng-model="offer.type">
				    <div class="item-content">Servicio</div>
				    <i class="radio-icon ion-checkmark"></i>
				  </label>
				  <label class="item item-radio">
				    <input type="radio" name="group" value="tip" ng-model="offer.type">
				    <div class="item-content">Dato</div>
				    <i class="radio-icon ion-checkmark"></i>
				  </label>
				</div>
			</div>
			<!-- <div class="col">foto aqui?</div> -->
		</div>
		<div class="row">
			<div class="col"><a class="button " href="#/new/offer/description" ng-click="saveForm(offer)">Siguiente</a></div>
		</div>
	</ion-content>
</ion-view>