<ion-view>

<div class="bar bar-header bar-dark">
	<h1 class="title">Ofrecer</h1>
</div>
	<ion-content>
		<div class="button-bar">
			<a class="button" href="#/new/offer/type">Oferta</a>
		<a class="button" href="#/new/offer/description">Descripción</a>
		<a class="button" href="#/new/offer/location">Ubicación</a>
		</div>
		<br>
		<h3>¿Donde quieres ubicar tu oferta?</h3>
		<div class="row">
			<div class="col">
				<label class="item item-input">
					<i class="icon ion-search placeholder-icon"></i>
					<input type="text" placeholder="Localización">
				</label>
			</div>
			<div class="col">
				<button class="button button-stable">Ubicar</button>
			</div>
		</div>
		<div class="row">	
			<div class="col">
				<label class="item item-input">
					<input type="text" placeholder="" disabled>
				</label>
			</div>
			<div class="col">
				<button class="button button-stable">Posición Actual</button>
			</div>
		</div>
		<div class="row">
			<div class="col"><a class="button" href="">Cancelar</a></div>
			<div class="col"><a class="button disabled" href="">Publicar</a></div>
		</div>
	</ion-content>
</ion-view>