<ion-view title="Fijar Busqueda">

<div class="bar bar-header bar-positive">
	<a class="button button-clear" href="#/default/home">
		<img src="../img/goter3.png" class="home-logo">
	</a>
	<h1 class="title">Busqueda Fijada</h1>
	<button class="button button-clear icon ion-log-out" ng-click="logout()"></button>
</div>

<ion-content>

<div class="list card">
	<div class="item item-avatar">
    	<img src="img/default.png">
    	<h2> {{pin_search.user}} </h2>
	</div>

	<div class="item item-divider" align="center">
    	<h1>{{pin_search.title}}</h1>
	</div>

	<div class="item item-body">
		<p>
    		{{pin_search.description}}
    	</p>
		<div id="map-2" data-tap-disabled="true"></div>
    </div>
</div>

<div class="item tabs tabs-secondary tabs-icon-left">    
    <a class="tab-item" href="#/default/pin-search-comments">
      	<i class="icon ion-chatboxes"></i>
      	Comentarios
    </a>	    	
</div>
</ion-content>

</ion-view>