<ion-view title="Busqueda">

<div class="bar bar-header bar-positive">
	<a class="button button-clear" href="#/default/home">
		<img src="img/goter3.png" class="home-logo">
	</a>
	<h1 class="title">Busqueda</h1>
	<button class="button button-clear icon ion-log-out" ng-click="logout()"></button>
</div>

<ion-content>
<h4 >Bienvenido {{name}}</h4>
<h5 align="center">¿Quieres buscar de nuevo?</h5>

<div class="list">
<form>

	<div class="item item-input-inset" style="border: 0px">
		<label class="item-input-wrapper">
			<i class="icon ion-search placeholder-icon"></i>
			<input type="text" placeholder="Buscar" ng-model="search_word">
		</label>
		<button class="button button-small" ng-click="modal.show()">
			Radio
		</button>
	</div>

	<div class="list">
		<li class="item item-checkbox">
   			<label class="checkbox">
   				<input type="checkbox">
   			</label>
   			Incluir búsquedas de otros en mis resultados
  		</li>
  	</div>
</form>		

	<div class="button-bar">
		<a class="button button-positive icon-left ion-ios7-search" ng-click="search()">
			Buscar
		</a>

		<a class="button button-energized icon-left ion-pin" ng-click="pinSearch()">
			Fijar búsqueda
		</a>
	</div>

</div>

<div class="list">	
	
	<div class="item item-divider" align="center">
    Resultados
  	</div>	


	<a class="row item item-avatar" ng-repeat="result in results" hrerf = "" ng-click="getOffer({{result}})">
		<img  src="img/no-mini-image.jpg"><img/>
		<div class="col" align="center">
			<h2 style="margin-top:15px; margin-left:15px" >{{result.title}}</h2>
		</div>
		<div class="col" align="center">
			<button class="button button-clear button-positive icon-left ion-location" ng-click="getLocation({{result}})"></button>
		</div>
		<div class="col" align="center">
			<h2 style="margin-top:15px">{{result.distance.distance}} {{result.distance.unit}}</h2>
		</div>
		
	</a>
</div>


<script id="templates/radio.html" type="text/ng-template">
	<ion-modal-view>
	<ion-header-bar class="bar bar-header bar-positive">
	<h1 class="title">Radio de busqueda</h1>
	<button class="button button-clear button-primary icon ion-close-round" ng-click="modal.hide()"></button>
	</ion-header-bar>
	<ion-content class="padding">
	<div class="list">
	<label class="item item-input">
	<span class="input-label">Seleccione un radio de busqueda: {{radio}} Km </span>
	</label>
	<div class="range">
	<i class="icon ion-volume-low" ></i>
	<input type="range" name="volume" min="1" max="100" value="5" ng-model="radio">
	<i class="icon ion-volume-high"></i>
	</div>
	<p></p>
	<button class="button button-full button-positive" ng-click="confirmRadio(radio)">Confirmar</button>
	</div>
	</ion-content>
	</ion-modal-view>
</script>



</ion-content>

</ion-view>
