<ion-view title="Busqueda">

<div class="bar bar-header bar-dark">
	<h1 class="title">Busqueda</h1>
</div>

<ion-content>
<h4 >Bienvenido {{name}}</h4>
<h5 align="center">¿Quieres buscar de nuevo?</h5>

<div class="list">

	<div class="item item-input-inset" style="border: 0px">
		<label class="item-input-wrapper">
			<i class="icon ion-search placeholder-icon"></i>
			<input type="text" placeholder="Buscar" ng-model="search_word">
		</label>
		<button class="button button-small">
			Filtros
		</button>
	</div>


	<div align="center" style="margin-top:5px;">

		<a class="button" ng-click="search()">
			Buscar
		</a>
		<a class="button button-dark" ng-click="pinSearch()">
			Publicar Busqueda
		</a>

	</div>

</div>

<hr style="border:dashed 1px; border-color:gray;margin:50px;">

<div class="list">	
	<h3 align="center">Resultados</h3>	


	<a class="row item item-avatar" ng-repeat="result in results" hrerf = "" ng-click="getOffer({{result.obj}})">
		<img  src="img/no-mini-image.jpg"><img/>
		<div class="col">
			<h2 style="margin-left:70px; margin-top:15px;" >{{result.obj.title}}</h2>
		</div>
		<div class="col">
			<button class="button button-dark" hrerf = "" ng-click="getLocation({{result.obj}})">Ubicación</button>
		</div>
		
	</a>
</div>






</ion-content>

</ion-view>
