<ion-view title="Login">
   <ion-content class="padding" id="login">
      
      <div id="test">
         <img id="goter-logo" src="img/goter.png">
      </div>
       
       <div class="card">
         <div class="item item-text-wrap">

            <form>
            <div  class="list">
               <label class="item item-input">
                  <span class="input-label">E-mail</span>
                  <input type="text" placeholder="Ingresa tu email" ng-model="user.email">
               </label>
               
               <label class="item item-input">
                  <span class="input-label">Contraseña</span>
                  <input type="password" placeholder="Ingresa tu contraseña" type="password" ng-model="user.password">
               </label>
            </div>
            </form>

            <div class="button-bar">
               <a class="button button-full icon-left ion-log-in button-positive" ng-click="validateUser()">
                  Entrar
               </a>
               <a class="button button-full icon-left ion-waterdrop button-energized" href="#/signup">
                  Regístrate
               </a>
            </div>

            <button class="button button-clear button-dark">
               ¿Olvidaste tu contraseña?
            </button>               
         </div>
      </div>
   </ion-content>
</ion-view>