#login {
	background-image: url("../img/party2.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: fixed; 	
}

#goter-logo {
	margin-top: 3px;
	height: 50px;
}

#test {
	text-align: center;
}

.scroll-content {

	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow: hidden;
	margin-top: -1px;
	padding-top: 1px;
	width: 100% !important;
	height: 100% !important;
}
	

.scroll {
	padding-top: 94px;
	/*display: table-cell;*/
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  text-size-adjust: none;
  -webkit-transform-origin: left top;
  -moz-transform-origin: left top;
  transform-origin: left top; }


::-webkit-scrollbar {
  display: none; }


