#login {
	background-image: url("../img/travel1.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: fixed; 	
}

#goter-logo {
	margin-top: 3px;
  margin-bottom: 3px; 
	width: 42%;
}

#test {
	text-align: center;
  width: 99%;
}

.scroll-content {

	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow: hidden;
	margin-top: -1px;
	padding-top: 1px;
	width: 100% !important;
	height: 100% !important;
}
	

.scroll {
	 height: 100%;
	padding-top: 94px;
	/*display: table-cell;*/
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  text-size-adjust: none;
  -webkit-transform-origin: left top;
  -moz-transform-origin: left top;
  transform-origin: left top; }


::-webkit-scrollbar {
  display: none; }

#map {
  width: 100%;
  height: 100%;
}

#map-2 {
  border:solid 2px gray;
  width: 100%;
  height: 350px;
}

.controls {
        margin-top: 16px;
        border: 1px solid transparent;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        height: 32px;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
      }

      #pac-input {
        background-color: #fff;
        padding: 0 11px 0 13px;
        width: 400px;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        text-overflow: ellipsis;
      }

      #pac-input:focus {
        border-color: #4d90fe;
        margin-left: -1px;
        padding-left: 14px;  /* Regular padding-left + 1. */
        width: 401px;
      }

      .pac-container {
        font-family: Roboto;
      }

      #type-selector {
        color: #fff;
        background-color: #4d90fe;
        padding: 5px 11px 0px 11px;
      }

      #type-selector label {
        font-family: Roboto;
        font-size: 13px;
        font-weight: 300;
      }

.div-padding {
  padding-right: 10px;
  padding-left: 10px;
}

#icon-like {
  font-size: 1.1em;
  color: #ef4e3a;
}

.home-logo {
  height: 35px;
}